In [1]:
import pandas as pd
import numpy as np

In [21]:
movie_df = pd.read_csv('movie-row.csv')
corr_df = pd.read_csv('correlations.csv', index_col=0)
user_df = pd.read_csv('user-row.csv', index_col=0)

movie_df.rename({'Unnamed: 0' : 'movie_name'}, axis=1, inplace=True)

## Part 1:

In [48]:
def fill_corr(x):
    corr_list = []
    for i in x.index.tolist():
        key = str(x.name)
        corr_list.append(movie_df[key].corr(movie_df[str(i)]))
    return corr_list

corr_df = corr_df.apply(lambda x: fill_corr(x))

corr_df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

### 4:
Identify the top 5 neighbors (the users with the 5 largest, positive correlations) for users 3867 and 89.

In [58]:
print("Top 5 for 3867: ", corr_df['3867'].sort_values(ascending=False).iloc[1:6].index.tolist())
print("Top 5 for 89: ", corr_df['89'].sort_values(ascending=False).iloc[1:6].index.tolist())

Top 5 for 3867:  [2492, 3853, 2486, 3712, 2288]
Top 5 for 89:  [4809, 5136, 860, 5062, 3525]

### 5:

In [124]:
movie_dft = movie_df.transpose()
movie_dft.fillna(0, inplace=True)


user1 = int(input())
user1_top_neighbors = corr_df[str(user1)].sort_values(ascending=False).iloc[1:6].index.tolist()

def find_best_movies(x):
    numerator = 0
    deno = 0
    for i in user1_top_neighbors:
        if int(x[str(i)]) == 0:
            continue
        deno += corr_df[str(i)].loc[user1]
        numerator += corr_df[str(i)].loc[user1] * float(x[str(i)])
    if deno == 0:
        return 0
    return (x['movie_name'], numerator / deno)

pred_user1 = movie_dft.apply(lambda x: find_best_movies(x))

pred_user1.transpose().sort_values(by=[1], ascending=False)[0:3]

 3712

                                  0         1
55  641: Requiem for a Dream (2000)       5.0
50           603: The Matrix (1999)  4.855924
11   105: Back to the Future (1985)  4.739173